mediapipe  
opencv-python
opencv-contrib-python
pickle
numpy
firebase-admin
dlib
cvzone   
pandas    
QtPy  
tensorflow  
imutils   
h5py 
Flask  
aiortc 
aiohttp 
av 
scikit-learn 
Pillow  
firebase_admin
